.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 1.2s, visibility 1s;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
