.container-menu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: var(--primary-background-color);

  transform: translateX(100%);
  transition: transform var(--trns-fast);

  &.is-open {
    display: block;
    transform: translateX(0);

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}
.container-menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  text-align: left;
  height: 100%;
}
.container-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.container-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  &--current {
    color: var(--accent-text-color);
  }
}
