.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.profile__image {
  margin-bottom: 30px;

  // mobile screen
  background-image: url(../../images/adaptive-img/gallery-4_sm@1x-min.jpg);
  // mobile screen retina
  @media (min-deveice-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/adaptive-img/gallery-4_sm@2x-min.jpg);
  }
}
.profile__name {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.profile__descr {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}
.profile__socials-icons {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
}
