.team {
  @include section;
  background-color: var(--secondary-background-color);
}
.team__list {
  display: block;
  width: 100%;
  gap: 30px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  @media screen and (min-width: $mobile) {
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    margin-top: 50px;
    width: calc((100% - 90px) / 4);
  }
}
