.works {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  // @media screen and (min-width: $desktop) {
  // }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
