.heading-2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);

  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

.heading-3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: $desktop) {
    text-align: left;
  }

  &--white {
    color: var(--white-text-color);
  }
}
